################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Accoon.EventSource.PitStop/.vs/Accoon.EventSource.PitStop/v16
/Accoon.EventSource.PitStop/src/VehicleManagement/PitStop.VehicleManagement.Application/obj
/Accoon.EventSource.PitStop/src/VehicleManagement/PitStop.VehicleManagement.Domain/obj
/Accoon.EventSource.PitStop/src/VehicleManagement/PitStop.VehicleManagement.Infrastructure/obj
