################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Accoon.EventSource.PitStop/.vs/Accoon.EventSource.PitStop/v16
